# ignore everything
*

# included files 
!.gitignore
!package*.json
!tsconfig.json
!.eslintrc.js
!.prettierrc.js
!README.md
!.eslintignore

# included directories
!bin
!bin/*
!src
!src/*
!src/*/*
!src/*/*/*
